<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.dao.BoardDao">

    <select id="getChartData" resultType="map">
        SELECT
            DATE_FORMAT(regDate, '%Y-%m-%d') AS day,
        COUNT(*) AS post_count
        FROM t_board
        GROUP BY DATE_FORMAT(regDate, '%Y-%m-%d')
        ORDER BY day DESC;
    </select>

    <select id="getChartPopularity" resultType="map">
        SELECT
            title,
            viewCount AS vc
        FROM t_board
        ORDER BY viewCount DESC
            LIMIT 5
    </select>

    <select id="getChartUserAccess" resultType="map">
        SELECT
            DATE_FORMAT(loginTime, '%Y-%m-%d') AS login_day,
            COUNT(*) AS total_logins,
            COUNT(DISTINCT userid) AS unique_users
        FROM t_member
        WHERE loginTime IS NOT NULL
        GROUP BY DATE_FORMAT(loginTime, '%Y-%m-%d')
        ORDER BY login_day
    </select>

    <select id="selectMainBoard" resultType="com.example.board.dto.BoardDto">
        SELECT
            b.*,
            m.name AS writerName
        FROM t_board b
                 JOIN t_member m ON b.writer = m.userid
        ORDER BY regDate DESC
            LIMIT 10
    </select>
</mapper>